{% extends "base.html" %}

<!-- Delete page -->

{% block title %}
<title>Delete a employee</title>
{% endblock %}


{% block body %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading mb-5 mt-5">
            <div class="panel-heading mb-5 mt-5 text-info">
                Deleting employee
            </div>
        </div>
        <form class="form-group ml-3" action="{% url 'delete_employee' %}" method="POST">

            {% csrf_token %}

            <div class="ml-3">

                {% if form_exclude.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    <div class="non-field-errors">
                        {{ form_exclude.non_field_errors }}
                    </div>
                </div>
                {% endif %}

                {% for field in form_exclude %}
                <div class="fieldWrapper mt-2">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                    <br/>
                </div>
                {% endfor %}
                <button class="btn btn-outline-primary" type="submit" value="Submit"> Delete employee</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}