{% extends "base.html" %}

<!-- Main page -->

{% block title %}
<title>X-factor Employee Manager</title>
{% endblock %}

{% block body %}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-heading mb-5 mt-5 text-info">
                <p>Welcome to my first Django-Python application! Here you will be able to manage all your employees without worrying about nothing!</p>

                <p>First of all, you might need to add an Department to your employee stay on, if he doesn't work into a department, create a Department called none</p>

                <p>This project was created to expand my knowledge, see new APIs, and use them in the future.</p>

                <p>The company I used in this project is X-factor, but (I guess) there's no company called like that.. At least in my country!</p>

                <p>This API was developed in python 2.7 with Django 1.7.0 (A bit old I know, but harder the code, better you get)</p>

                <p>Have a great day!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}